.top-menu{
  background: #000;
  width: 100%;
  height:50px;
  color: #fff;
  padding-top: 3px;
}

.top-menu .item {
  margin-left: 3px
}

.item .btn {
  background: transparent;
  border: 1px solid #2780E3
}
